<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>DeleteDoctor</servlet-name>
        <servlet-class>servlets.DeleteDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDoctor</servlet-name>
        <servlet-class>servlets.GetDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDoctor</servlet-name>
        <servlet-class>servlets.LoginDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDataDoctor</servlet-name>
        <servlet-class>servlets.TestDataDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDataDoctor</servlet-name>
        <servlet-class>servlets.UpdateDataDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRandevouz</servlet-name>
        <servlet-class>servlets.getRandevouz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRandevouz</servlet-name>
        <servlet-class>servlets.AddRandevouz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoneRandevouz</servlet-name>
        <servlet-class>servlets.DoneRandevouz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBloodTest</servlet-name>
        <servlet-class>servlets.AddBloodTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getBloodTests</servlet-name>
        <servlet-class>servlets.getBloodTests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMeasure</servlet-name>
        <servlet-class>servlets.GetMeasure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTreatments</servlet-name>
        <servlet-class>servlets.getTreatments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getBloodTestsData</servlet-name>
        <servlet-class>servlets.getBloodTestsData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDoctorsUser</servlet-name>
        <servlet-class>servlets.GetDoctorsUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteDoctor</servlet-name>
        <url-pattern>/DeleteDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDoctor</servlet-name>
        <url-pattern>/GetDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDoctor</servlet-name>
        <url-pattern>/LoginDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDataDoctor</servlet-name>
        <url-pattern>/TestDataDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDataDoctor</servlet-name>
        <url-pattern>/UpdateDataDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRandevouz</servlet-name>
        <url-pattern>/getRandevouz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRandevouz</servlet-name>
        <url-pattern>/AddRandevouz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoneRandevouz</servlet-name>
        <url-pattern>/DoneRandevouz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBloodTest</servlet-name>
        <url-pattern>/AddBloodTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getBloodTests</servlet-name>
        <url-pattern>/getBloodTests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMeasure</servlet-name>
        <url-pattern>/GetMeasure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTreatments</servlet-name>
        <url-pattern>/getTreatments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getBloodTestsData</servlet-name>
        <url-pattern>/getBloodTestsData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDoctorsUser</servlet-name>
        <url-pattern>/GetDoctorsUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
